body {
    background-color: rgb(241, 202, 156);
}

/* #region homePage */
nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom: 3px double brown; 
}

nav button {
    font-size: 1.7rem;
    padding: 0.3rem;
    background-color: wheat;
    color: br;
    border: 2px ridge brown;
    border-radius: 10px 0px 10px 10px;
}

nav button:hover {
    cursor: pointer;
    border: 1px double brown;
    background-color: rgb(241, 213, 161);
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.naming {
    font-size: 2rem;
}

.homeImage {
    margin: 2rem 0;
    border: 2px ridge brown;

    width: 50%;
    height: 300px;
    background-image: url("../resources/homeImage2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.description1 {
    width: 65ch;
    font-size: 1.5rem;
}

.description2 {
    margin-top: 2rem;
    width: 65ch;
    font-size: 1.5rem;
}

.hoursSection {
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    border: 3px double brown;
    border-radius: 10px;
}

.hoursSection .hoursHeader {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hoursSection p {
    margin: 0;
    font-size: 1.3rem;
}
/* #endregion */

/* #region menuPage */
section {
    width: 400px;
    margin: 1rem;
    padding: 0.5em;
    border: 2px ridge brown;
}

.menuHeader {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.menuList {
    font-size: 1.5rem;
}

/* #endregion */

/* #region contactPage */
.phoneNumber {
    font-size: 1.5rem;
    margin-bottom: 7px;
}

.supportPhoneNumber {
    font-size: 1.5rem;
    margin-bottom: 7px;
}

.contactEmail {
    font-size: 1.5rem;
    margin-bottom: 7px;
}

.reviewHeader {
    font-size: 1.5rem;
    margin-bottom: 7px;   
}

.review {
    font-size: 1.1rem;
    width: 350px;
    height: 150px;
    resize: none;
}

#submitButton {
    font-size: 1.2rem;
    margin: 7px;
    padding: 5px;
    color: white;
    background-color: brown;
    border-radius: 10px;
    border: 2px ridge brown;
}

#submitButton:hover {
    cursor: pointer;
    border: 2px solid black;
}

#submitButton:active {
    background-color: rgb(120, 32, 32);
}

/* #endregion */